div {
  margin: 2em 0;
}

i {
  font-size: xx-large;
  color: gray;
}

img {
  height: 25vh;
}

#notificationHint {
  transition: height 1s ease 3s;
  height: 1em;
  margin:0
}

#notificationHint.shrinked {
  height: 0em;
  margin:0
}